/* 
input[type="button"]{
    width: 50px;
    height: 50px;
    margin: 2px;
}
input[type="text"]{
    width: 215px;
    height: 40px;
}  */
.header{
    padding-left: 20px;
}
input[type="button"]{
    width: 100%;
    margin: 4px;
}
.borderblack{
  border: 3px solid black;
  padding: 10px;
  box-shadow: 10px 10px #4f4f4f;
  border-radius: 10px;
}

.form-control{
    border: 1px solid black;
    box-shadow: 2px 2px #123;
    margin-bottom: 4px;
    margin-bottom: 4px;
}